<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I want to learn it further and explore it.
			  </li>
			  <li>
				  <b>Cricket</b>. I always enjoy watching cricket and playing as well. I've been a good cricketer and a Sachin-Dhoni fan. One of my dream is to watch live match, India playing in Worldcup Final.
			  </li>
			  <li>
				  <b>Mountaineering</b>. I am from Kerala, India, known as God's own country. I enjoy spending time on mountains, doing hiking. I want to go to Leh-Ladakh next year.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Participated in Hackathon-2016 and won prize for the best innovative idea.
    		</li>
  			<li>
          Winner in coding challenge. <a href=https://codility.com/cert/view/certVJ9CYY-VD6AY4K8GKHVK7H9">Cert-link</a>
  			</li>

  			<li>
           Captained University Cricket Team in Lucknow Christian College for 2 years, 2007-2009.

  			</li>
  			<li>
  			  Got third place in long jump at district level in 2005.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
