<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I want to learn it further and explore it.
			  </li>
			  <li>
				  <b>Cricket</b>. I always enjoy watching cricket and playing as well. I've been a good cricketer and a Sachin-Dhoni fan. One of my dream is to watch live match, India playing in Worldcup Final.
			  </li>
			  <li>
				  <b>Mountaineering</b>. I am from Kerala, India, known as God's own country. I enjoy spending time on mountains, doing hiking. I want to go to Leh-Ladakh next year.
      </li>
			</ul>
		</div>
    <!-- <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Kanban View.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Boys and Girls club (since 2008)
  			</li>
  			<li>
  			  Active member of The Seattle Ruby on Rails Developers Meetup Group.
  			</li>
		   </ul>
      </div> -->
    </div>
  </div>
</section>
